body {
    font-family: Verdana, Tahoma, sans-serif;
}

body header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    background-image: linear-gradient(white,white, white,  white, white,  white, rgba(205, 38, 139, 0.895));
}

body header ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

body header img {
    height: 80px
}

body main {
    background-image: url('images/background1.png');
    background-image: linear-gradient(rgba(205, 38, 139, 0.895), rgb(154, 217, 203),  rgb(154, 217, 203),  rgb(154, 217, 203),  rgb(154, 217, 203),  rgb(154, 217, 203));
    height: 50em;
}

.small-input{
    width: 50%;
}

.table{
    border-collapse: collapse;
    width: 100%;
}

#dashboard-table {
    width: 30%;
}

.table td, .table th{
    border: 1px solid #ddd;
    padding: 8px;
    /* width: 60%; */
}

.table tr:nth-child(even){background-color: #f2f2f2;}
.table tr:nth-child(odd){background-color: #c9e6c7;}
.table tr:hover {background-color: #fff;}


.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(15, 196, 133);
    color: white;
}

.dash{

}