{% extends './base.html' %}

{% block content %}
    <br><br><br>
    <h1>Cakes Inventory</h1>
    <a href="cakes/new">Add new Cake</a>

<table class="table">
    <tr>
        <th></th>
        <th>Category</th>
        <th>Name</th>
        <th>Baker</th>
        <th>Cost</th>
        <th>Selling Price</th>
        <th>Sutable for Vegetarians?</th>
        <th>On Hand Quantity</th>
        <th>Daily Sales Forecast</th>
        <th>Par Level</th>
        <th></th>
    </tr> 
    {% for cake in all_cakes %}
    <tr>
        <form action="/cakes/{{cake.id}}" method="post">
        <td><a href="/cakes/{{cake.id}}/details" class="fa fa-pencil"></a></th>
        <input type="hidden" name="category" value="{{ cake.category }}">
        <input type="hidden" name="full_name" value="{{ cake.full_name }}">
        <input type="hidden" name="baker_id" value="{{ cake.baker.id }}">
        <input type="hidden" name="manufacture_cost" value="{{ cake.manufacture_cost }}">
        <input type="hidden" name="selling_price" value="{{ cake.selling_price }}">
        <input type="hidden" name="vegetarian" value="{{ cake.vegetarian }}">
        
        
   
        <td>
            <p name="category">{{ cake.category }}</p>
  
        
        </td>
        <td>
            <p name="full_name">{{ cake.full_name }}</p>
        
        </td>
        
        <td> 
            <p name="baker_id">{{ cake.baker.full_name }}</p>
        </td>
        <td>
            <p name="manufacture_cost">£{{ cake.manufacture_cost}}</p>
        
        </td>
        <td>
            <p name="selling_price">£{{ cake.selling_price }}</p>
        
        </td>
        <td>
            <p name="vegetarian">{% if cake.vegetarian == True %} Yes {% else %} No {% endif %}</p>
    
        </td>
        <td>
            <input class="small-input" type="number" name="qty_on_hand" value="{{ cake.qty_on_hand }}">
        
        </td>
        <td>
            <input class="small-input" type="number" name="daily_sales_forecast" value="{{ cake.daily_sales_forecast }}">
        </td>
        <td>
            <input class="small-input" type="number" name="par_level" value="{{ cake.par_level }}">
        
        </td>   
        <td><button type="submit">Update Quantities</button>    </td>     
    </tr>
    {% endfor %} 
    
    </table>
    </form> 

{% endblock %}



