{% extends './base.html' %}

{% block content %}
    <br><br><br>
    <h1>Cakes Inventory</h1>

<table class="table">
    <tr>
        <th>Category</th>
        <th>Name</th>
        <th>Baker</th>
        <th>Cost</th>
        <th>Selling Price</th>
        <th>Sutable for Vegetarians?</th>
        <th>On Hand Quantity</th>
        <th>Daily Sales Forecast</th>
        <th>Par Level</th>
        <th></th>
    </tr>
    </form>  
    <tr>

        <form action="/cakes" method="post">
        <td>
            <input type="text" name="category" placeholder="Category" required autofocus>
        
        </td>
        <td>
            <input type="text" name="full_name" placeholder="full_name" required autofocus>
        
        </td>
        <td> 
            <select name="baker_id">
                <option value="" disabled selected hidden>Please Choose</option>
                {% for baker in all_bakers %}
                <option value="{{ baker.id }}" placeholder="select">{{ baker.full_name }}</option>
                 {{ baker.full_name }}
                </option>
                {% endfor %}
            </select>
        </td>
        <td>
            <input class="small-input"  type="number" placeholder="£0.00" min="0"  step="0.01" pattern="^\d+(?:\.\d{1,2})?$"  name="manufacture_cost" required autofocus>
           
        </td>
        <td>
            <input class="small-input"  type="number" placeholder="£0.00" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$"  name="selling_price" placeholder="selling_price" required autofocus>
        
        </td>
        <td>
            <input class="small-input" type="text" name="vegetarian" placeholder="vegetarian" required autofocus>
        
        </td>
        <td>
            <input class="small-input" type="number" name="qty_on_hand" placeholder="qty_on_hand" required autofocus>
        
        </td>
        <td>
            <input class="small-input" type="number" name="daily_sales_forecast" placeholder="daily_sales_forecast" required autofocus>
        </td>
        <td>
            <input class="small-input" type="number" name="par_level" placeholder="par_level" required autofocus>
        
        </td>   
        <td>    <button type="submit">Save New Cake</button></td>         
    </tr>
    </form>  
    </table>

{% endblock %}