<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/style.css">
    <title>Cake Shop Inventory System</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/cakes">Inventory</a></li>
            <li><a href="/bakers">Bakers</a></li>
            <li><a href="/">Cake Shop</a></li>
        </ul>
        <h1>Cake Shop</h1>
        <img href="/" src="./static/images/background1.png" alt="logo">
    </header>
    <main>
        {% block content %}
        
        {% endblock  %}
    </main>
    <footer>

    </footer>
    
</body>
</html>